
body {
	font-family: sans-serif;
	zoom: 80%;
}

#superheader {
	display: none;
}

#primary-nav {
	display: none;
}

#comment-wrap {
	display: none;
}

#respond-wrap {
	display: none;
}

#footer-container {
	display: none;
}

.schedule-nav-title {
	display: none;
}

.schedule-nav {
	display: none;
}

.schedule-block {
	box-shadow: none;
	page-break-inside: avoid;
}

.schedule-day {
	page-break-before: always;
}

.schedule-day.first-day {
	page-break-before: avoid;
}

.schedule-block a {
	color: black;
	text-decoration: none;
}
