
// Global variables
@fontFamily: arial, sans-serif;
@borderColor: #c1c1c1;
@bodyColor: #f6f6f6;
@bgGray: rgb(236, 236, 236);
@linkColor: #446688;

/*
 * Clearfix for floating elements.
 */
.microcf () {
	*zoom: 1;

	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.bg-gradient () {
	background-image: linear-gradient(top, rgb(249, 249, 249), rgb(236, 236, 236));
	background-image: -webkit-linear-gradient(top, rgb(249, 249, 249), rgb(236, 236, 236));
	background-image: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(236, 236, 236));
	background-image: -ms-linear-gradient(top, rgb(249, 249, 249), rgb(236, 236, 236));
}

.vert-gradient (@top, @bottom) {
	background-image: linear-gradient(top, @top, @bottom);
	background-image: -webkit-linear-gradient(top, @top, @bottom);
	background-image: -moz-linear-gradient(top, @top, @bottom);
	background-image: -ms-linear-gradient(top, @top, @bottom);
}

.link-list {
	& > div {
		margin-bottom: 10px;

		a {
			text-decoration: underline;
			font-weight: bold;
		}

		span[itemprop="description"] {
			font-style: italic;
		}
	}
}


// needs to  be top level since options are appended to body
.rd-options {
	z-index: 100000;
	display: none;
	width: 400px;
	position: absolute;
	cursor: pointer;
	user-select: none;
	max-height: 300px;
	overflow-y: auto;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);

	.rd-option {
		border-bottom: 1px solid #c1c1c1;
		background-color: white;
		padding-right: 25px;

		&:hover {
			background-color: #def;
		}
	}
}

.rd-placeholder {
	border-radius: 3px;
	border: 1px solid #c1c1c1;
	position: relative;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	width: 400px;
	.bg-gradient;

	.rd-content {
		padding-right: 25px;
	}

	.rd-arrow {
		position: absolute;
		right: 7px;
		top: 50%;
		margin-top: -2px;
		border-width: 5px 4px 5px 4px;
		border-color: transparent;
		border-style: solid;
		border-top: 5px solid black;
		width: 0;
		height: 0;
	}

	.rd-up {
		border: 5px solid transparent;
		border-bottom: 5px solid black;
		margin-top: -6px;
	}
}

.rd-option {
	padding: 4px;
	line-height: 15px;
	.microcf;

	.rd-thumb {
		float: left;
		margin-right: 5px;
		width: 72px;
		height: 72px;
	}

	.rd-label {
		white-space: nowrap;
		color: #555;
		font-weight: bold;
	}

	.rd-desc {
		color: #999;
		font-size: 0.94em;
	}

	&.rd-padded {
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 12px;
	}
}


// override theme styles
#theme-page .wpcm-wrap {
	h1, h2, h3, h4, h5, h6, input {
		text-transform: none;
	}

	a {
		color: #369;
	}
	
	.current a {
		color: white;
	}

	a:hover {
		text-decoration: underline;
	}

	input[type="password"] {
		box-sizing: border-box;
	}

	select {
		padding: 5px;
		font-weight: normal;
		background-color: white;
	}
	
	ul {
		list-style: none;
		
		&.registration-options {
			list-style: none;
		}
	}
}


// custom styles
.wpcm-wrap {

	div, ul, li, td {
		color: #252525;
	}

	table {
		border-spacing: 0;
		border: 0;

		tr {
			border: 0;
		}

		th, td {
			text-align: left;
		}
	}



	li {
		margin: 0;
	}

	ul.bullet {
		//margin: 0;
		list-style: square;
		color: black;
	}

/*
	input[type="button"], input[type="submit"], button {
		border: 1px solid #c1c1c1;
		border-radius: 40px;
		padding: 3px 15px;
		color: #444;
		cursor: pointer;
	}
*/

	.admin-box {
		background-color: white;
		padding: 10px;
		border: 1px solid @borderColor;
	}

	.authors {
		background-color: @bgGray;

		.author td {
			padding: 2px 15px;
			color: #555;
			font-size: 0.9em;

			&.primary {
				font-weight: bold;
				color: #8c1515;
			}
		}
	}

	.heading {
		margin-top: 30px;
		font-weight: bold;
	}

	.submission-track {
		font-weight: bold;
		display: inline-block;
		font-size: 1.2em;
	}

	.submission-category {
		font-size: 1.2em;
		&:before {
			content: "/";
		}
		color: #555;
		display: inline-block;
	}

	.file-embed {
		padding: 10px;

	}

	.comment {
		.microcf;
		border-bottom: 1px solid #ddd;
		padding: 5px 0;

		.thumb {
			float: left;
		}

		.content {
			padding-left: 70px;
		}

		.user {
			color: #8c1515;
			font-weight: bold;
		}

		.date {
			font-weight: bold;
			color: #555;
			float: right;
		}

		.comment-body {
			padding: 3px 0;
		}
	}

	.review {
		background-color: @bgGray;
		padding: 10px;
	}

	div.ticker-wrap {
		position: relative;
		overflow-x: hidden;
		height: 20px;

		ul.ticker {
			position: absolute;
			list-style: none;
			margin: 0;
			bottom: 2px;
			z-index: 1000;
			white-space: nowrap;
			opacity: 0.7;
			line-height: 20px;

			li {
				display: inline-block;
				padding-top: 0;
				padding-bottom: 0;
				color: white;
				text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);
				font-weight: bold;
				white-space: nowrap;
				margin-right: 20px;
				padding-right: 20px;

				&:last-child {
					border: 0;
				}
			}
		}
	}

	div.form {
		//background-color: @bgGray;
		//border: 1px solid @borderColor;
		//padding: 10px;
		//padding-left: 25px;
		max-width: 800px;

		.invalid {
			border: 1px solid #900;
			background-color: #fdd;
		}

		input[type="text"], input[type="password"], textarea {
			background-color: white;
			border: 1px solid #c1c1c1;
			padding: 5px;
			margin: 0;
		}

		input[type="button"]:disabled {
			color: #aaa;
		}

		.row {
			.microcf;
			padding: 10px 0;

			.label {
				width: 175px;
				float: left;
				font-weight: bold;
				color: rgba(0, 0, 0, 0.6);

				&.required {
					color: #800000;
				}
			}

			.value {
				//float: left;
				margin-left: 175px;

				.inline-relation {
					.bg-gradient;

					padding: 2px 30px 2px 10px;
					border-radius: 3px;
					margin-bottom: 5px;
					position: relative;
					border: 1px solid #c1c1c1;

					.row {
						padding: 5px 0;

						.label {
							width: 140px;
						}
					}
				}
			}
		}
	}

	.bean-results {
		position: absolute;
		z-index: 10000000;
		overflow-y: scroll;
		max-height: 300px;
		display: none;
		width: 400px;
		border: 1px solid #c1c1c1;
		box-sizing: border-box;
		background-color: white;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
		padding: 5px;
	}

	.bean-placeholder {

	}

	.bean-result {
		.microcf;
		margin-bottom: 3px;
		border-bottom: 1px solid #c1c1c1;
		padding-bottom: 3px;
		cursor: default;

		&:hover {
			background-color: #f0f0f0;
		}

		&:last-child {
			border: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}

		img {
			float: left;
			margin-right: 5px;
		}

		.result-desc {
			color: #666;
		}
	}


	span.description {
		color: #777;
		font-style: italic;
		margin-left: 15px;
	}

	input.button-primary {
		background-color: #369;
	}

	a.button-primary {
		background-image: -webkit-linear-gradient(top, #6699cc, #336699);
		background-image: -moz-linear-gradient(top, #6699cc, #336699);
		background-image: -ms-linear-gradient(top, #6699cc, #336699);
		background-image: linear-gradient(top, #6699cc, #336699);
		color: white;
		border: 1px solid #225588;
		text-shadow: none;
		padding: 3px 15px;
		border-radius: 100px;
	}


	.right {
		text-align: right;
	}

	.spacer {
	   clear: both;
	}

	.hidden {
		display: none;
	}

	a.button {
		display: inline-block;
	}

	.hideimages {
		img {
			display: none;
		}
	}

	div.pagination {
		float: right;

		span {
			font-style: italic;
			color: #888;
		}

		input {
			width: 20px;
			padding: 2px;
			margin: 0 3px;
			font-size: 11px;
			border-radius: 3px;
			text-align: center;
		}

		a {
			border: 1px solid @borderColor;
			background-color: @bgGray;
			border-radius: 3px;
			padding: 0 5px;
			margin: 0 1px;
			display: inline-block;
			text-decoration: none;
		}
	}

	div.search {
		background-color: transparent;
		float: left;

		input[type="submit"] {
			.bg-gradient;
		}
	}

	.hovershow {
		visibility: hidden;
	}

	.hoverable {
		&:hover .hovershow {
			visibility: visible;
		}
	}

	.submission-summary {
		background-color: #f6f6f6;

		.abstract {
			padding: 10px;
			max-width: 750px;

			ul {
				list-style: square;
				margin-left: 20px;
			}

			p {
				margin-bottom: 8px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.reviewer-options {
		padding: 10px;
	}

	.submission-options {
		padding-top: 10px;
	}



	table.display-table {
		border: 1px solid #c1c1c1;
		margin-top: 10px;
		table-layout: fixed;
		width: 100%;
		border-spacing: 0;
		overflow: visible;

		tr.odd td {
			background-color: #f2f2f2;
		}

		tr {
			&:hover .hovershow {
				visibility: visible;
			}
		}

		tr.empty td {
			font-style: italic;
			font-weight: bold;
			color: #999;
		}

		td, th {
			padding: 10px;
			border: none;
			word-wrap: break-word;
			vertical-align: top;

		}

		th {
			border-bottom: 1px solid #c1c1c1;
			.bg-gradient;
			background-color: rgb(241, 241, 241);
			border-right: 1px dotted #ccc;
			text-align: left;
		}

		tr.footer th {
			border-top: 1px solid #c1c1c1;
			.bg-gradient;
		}
	}

	a.sorter {
		&:hover {
			background-image: url(../images/sort.gif);
			background-repeat: no-repeat;
			background-position: right center;
		}

		padding-right: 17px;
	}

	ul.tabs {
		list-style: none;
		border-bottom: 1px solid @borderColor;
		position: relative;
		margin: 0;
		padding: 0 0 0 10px;
		margin-bottom: 20px;

		li {
			.bg-gradient;
			padding: 5px 10px;
			margin: 0 2px 0 0;
			border: 1px solid @borderColor;
			display: inline-block;
			position: relative;
			top: 1px;
			font-size: 15px;
			cursor: default;

			&.selected {
				background-color: white;
				border-bottom: 1px solid white;
				background-image: none;
			}
		}
	}

	#common_form {
		ul {
			list-style: square;
		}
	}

	div.heading {
		font-size: 18px;
		padding: 5px 10px;
		margin-top: 20px;
		font-weight: normal;
		color: #555;
		.bg-gradient;
		border: 1px solid @borderColor;
		border-width: 1px 1px 0 1px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	ul.multistep {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			border: 1px solid #c1c1c1;
			background-color: white;
			margin: 0;
			padding: 10px 20px;
			margin-left: -1px;
			font-weight: bold;
			max-width: 200px;

			a {
				text-decoration: none;
				color: inherit;

				&:hover {
					text-decoration: underline;
				}
			}

			&.past {
				background-color: #eee;
			}

			&.current {
				background-color: #5588bb;
				background-image: -webkit-linear-gradient(top, #5588bb, #336699);
				background-image: -moz-linear-gradient(top, #5588bb, #336699);
				background-image: -ms-linear-gradient(top, #5588bb, #336699);
				background-image: linear-gradient(top, #5588bb, #336699);
				color: white;

				div.description {
					color: white;
				}
			}

		}
	}

	div.messages {
		margin: 20px 0;
		padding: 0;

		& > div {
			padding: 10px;
		}

		.warn {
			background-color: #ffffcc;
			border: 1px solid #aa0;
		}

		.error {
			background-color: #fcc;
			border: 1px solid #900;

			a {
				color: blue;
			}
		}

		.success {
			background-color: #dfd;
			border: 1px solid #090;
		}
	}

	table.compact {
		td, th {
			padding: 2px 6px;
		}

		th {
			background: transparent;
			border: 0;
		}
	}

	table.pricing {
		cell-spacing: 0;
		td {
			padding: 2px 5px;
		}
	}

	.price-name {
		width: 300px;
	}

	.notice {
		background-color: #ffffcc;
		border: 1px solid #cccc00;
	}

	.warn {
		background-color: #fcc;
		color: #900;
	}

	.success {
		background-color: #dfd;
		border: 1px solid #090;
	}


	tr.addon-custom {

		label {
			margin-left: 20px;
			color: #888;
		}
	}



	table.summary-table {
		width: 800px;
		border-spacing: 0;
		border-top: 1px dotted #c1c1c1;
		border-right: 1px dotted #c1c1c1;

		td {
			border-left: 1px dotted #c1c1c1;
			border-bottom: 1px dotted #c1c1c1;
		}
	}

	div.highlight-box {
		/*border: 1px solid #c1c1c1;
		padding: 10px;
		background-color: #fafafa;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
		margin: 0 0 20px 0;

		h3 {
			margin-top: 0;
		}*/
	}

	ul.registration-options {
		margin-left: 10px;
		width: 600px;

		li {
			margin: 0;
			margin-bottom: 10px;
			padding: 10px;
			clear: both;
			border: 1px solid #c1c1c1;
			.bg-gradient;
			border-radius: 6px;



			label {
				font-size: 16px;
			}
		}
	}

	img.thumbnail {
		width: 150px;
	}


	.modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 100000;

		.content {
			width: 600px;
			height: 400px;
			background-color: white;
			position: fixed;
			left: 50%;
			top: 50%;
			margin-left: -300px;
			margin-top: -200px;
			box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
			padding: 20px;
			z-index: 100000;

			#warnings {
				height: 300px;
				overflow: auto;
			}

			ul.buttons {
				position: absolute;
				bottom: 20px;
				left: 20px;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
				}
			}
		}
	}

	.hidden {
		display: none;
	}

	span.dropdown {
		border: 1px solid #c1c1c1;
		padding: 2px 30px 2px 2px;
		background-color: white;
		cursor: pointer;
		display: inline-block;
	}

	ul.dropdown {
		max-height: 300px;
		overflow-y: scroll;
		overflow-x: hidden;
		background-color: white;
		border: 1px solid #c1c1c1;
		position: absolute;

		cursor: default;

		li {
			padding: 2px 30px 2px 2px;
		}

		li:hover {
			background-color: #ddddff;
		}
	}

	tr.form-error {
		label {
			color: #900;
		}
		label:after {
			//content: " *";
		}
	}

	.error-msg {
		font-style: italic;
		color: #900;
		display: none;
	}

	.section-title {
		margin-top: 22px;
		color: black;
		font-weight: bold;
	}



	table.form-table {
		table-layout: fixed;

		th[scope="row"] {
			width: 140px;
			vertical-align: top;
			padding-top: 5px;
		}

		input, textarea {
			color: #333;
		}
	}

	label.vert-label {
		font-size: 12px;
		color: #777;
		display: block;
		font-weight: bold;
	}

	div.login {
		position: relative;
		width: 320px;
		.microcf;

		label.remember {
			font-size: 12px;
			color: #777;
		}

		#email, #password {
			margin-bottom: 15px;
			width: 100%;
			box-sizing:border-box;
			font-size: 16px;
		}

		.login-button {
			float: left;
		}

		.login-options {
			float: right;
		}
	}

	div.reset {
		#email {
			width: 250px;
		}
	}

	div.inline-editor {
		position: fixed;
		top: 50%;
		left: 50%;

		padding: 10px;
		overflow-y: auto;
		overflow-x: hidden;

		z-index: 1000;

		width: 700px;
		height: 500px;
		margin-left: -350px;
		margin-top: -250px;

		background-color: white;
		box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
	}

	div.editor-details {
		border:1px solid #c1c1c1;
		background-color:white;
		padding: 5px;
		box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
		position:absolute;
		top:0;
		right: 0;
		display: none;
		z-index:1000;

		div.close-button {
			position: absolute;
			top: 5px;
			right: 5px;
			height: 10px;
			width: 10px;
			background-color: #faa;
			border: 1px solid red;
			border-radius: 100%;
			cursor: pointer;

			&:hover {
				background-color: #f66;
			}
		}

		label {
			color: #555;
			font-weight: bold;
		}
	}






	table.data-table {
		border: 1px solid #c1c1c1;
		background-color: white;

		tr:last-child {
			td {
				border-bottom: 0;
			}
		}
		td, th {
			padding: 8px 15px;
			border-bottom: 1px dotted #c1c1c1;
			border-right: 1px dotted #c1c1c1;

			&:last-child {
				border-right: 0;
			}
		}

		th {
			text-align: center;
			.bg-gradient;
			border-bottom: 1px solid #c1c1c1;
		}
	}

	#summary {
		width: 800px;

		h3 {
			margin-top: 30px;
		}
	}

	.select-addons {

		h3 {
			margin-bottom: 10px;
			margin-top: 30px;
			font-weight: bold;
		}

		div.addon {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 2px dotted #e1e1e1;

			&:last-child {
				border: 0;
				margin-bottom: 10px;
				padding-bottom: 0;
			}

			.photo {
				font-size: 0;
				float: left;
				div {
					display: none;
				}
				img {
					margin: 0;
				}
				p {
					margin: 0;
					font-size: 0;
				}
			}

			.info {
				float: left;
				max-width: 700px;
				margin-left: 10px;

				.description {
					img {
						display: none;
					}

					p {
						margin: 0;
					}

					padding: 10px 0;
					border-bottom: 0;
				}

				.title {
					font-size: 15px;
					font-weight: bold;
					color: #333;
					padding: 0 0 10px 0;
					background-clip: padding-box;
				}

				ul.prices {
					margin: 0;
					padding: 10px;
					background-color: #eaeaea;
				}

			}
		}
	}


	#speaker {

		#latest_tweets {
			ul {
				margin: 0;

				li {
				background-color: #f0f0f0;
					margin: 0 10px 4px 0;
					color: #666;
					padding: 10px;

					&:last-child {
						border: 0;
					}
				}
			}
		}

		#left-col {
			width: 320px;
			float: left;
		}

		#main-col {
			float:left;
			width:600px;
			margin-left:20px;

			h3 {
				font-size: 24px;
				margin-top: 20px;
				margin-bottom: 20px;
			}

			.content {
				font-size: 14px;
				line-height: 24px;
			}
		}

		#speaker-name {
			font-size: 24px;
			color: #555;
			margin-top: 20px;
		}

		#speaker-title {
			font-size: 16px;
			font-style: italic;
			margin-top: 20px;
		}

		#social {
			margin-top: 20px;
		}

	}

	.speaker-list {
		background-color: #f0f0f0;
		padding: 0 5px;
		margin-top: 10px;

		.speaker {
			border-bottom: 1px solid #c1c1c1;
			padding-top: 5px;

			&:last-child {
				border: 0;
			}
		}
	}

	.talk {
		margin-bottom: 10px;
		background-color: #f0f0f0;
		padding: 10px;

		.talk-date {

		}

		.talk-title {
			font-size: 16px;
			margin: 8px 0;
		}

		.talk-snippet {
			color: #666;
		}
	}


	// SCHEDULE

	.event-group {
		font-size: 20px;
		margin-bottom: 15px;
		font-weight: bold;

		padding: 10px 20px;
		background-color: #aaa;
		color: #f6f6f6;

		&.depth1 {
			background-color: #8ac;
			font-size: 14px;

			.group-location {
				display:none;
			}
		}

		.group-location {
			float: right;
			font-size: 16px;
			line-height: 20px;
		}
	}

	.event {
		background-color: #efefef;
		margin-bottom: 20px;
		padding-bottom: 3px;
		box-shadow: inset 0px -3px 3px 0 rgba(0, 0, 0, 0.08);
		font-size: 16px;
		color: #555;
		border-radius: 5px;

		.event-heading {
			padding: 10px 20px;
			border-bottom: 1px solid #c1c1c1;

			.event-location {
				float: right;
			}
		}

		.event-wrap {

			&.with-photo {
				min-height: 200px;
			}

			.event-photo {
				float: right;
				margin-left: 10px;
				margin-bottom: 5px;
			}

			.event-info {
				padding: 20px;

				.event-title {
					font-weight: bold;
				}

				.event-snippet {
					font-size: 0.9em;
					margin-top: 20px;
					line-height: 20px;
					color: #333;
				}

				.event-speakers {
					margin-top: 20px;

					.event-speaker {
						margin-top: 10px;

						&:first-child {
							margin-top: 0;
						}

						.speaker-name {

						}

						.speaker-title {
							color: #888;
						}
					}
				}
			}

		}
	}









	@eventPadTop: 10px;
	@eventPadBottom: 10px;
	@eventPadLeft: 20px;
	@eventPadRight: 20px;

	.schedule-day {
		padding-bottom: 3px;
		font-size: 24px;
		margin-bottom: 20px;
		margin-top: 40px;
		&:first-child {
			margin-top: 0;
		}
	}

	.schedule-block {
		background-color: #e0e0e7;
		font-size: 15px;
		color: #555;
		margin-bottom: 12px;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.23);


		.block-header {

			.location {
				float: right;
				padding: @eventPadTop @eventPadRight 0 0;
			}

			.title {
				padding: 0 0 @eventPadBottom @eventPadLeft;
				font-size: 1em;
				font-weight: bold;
			}
		}

		.subblock {
			padding: @eventPadTop @eventPadRight @eventPadBottom @eventPadLeft;

			.title {
				font-weight: bold;
			}

			.location {
				float: right;
			}
		}

		.group-title {
			font-weight: bold;
			padding: 10px;

			.location {
				float: right;
			}
		}

		.block-photo {
			float: left;
		}

		.content-wrap {
			background-color: #f0f2f2;

			&.multi-photo .block-content {
				clear: both;
			}
		}

		.block-content {

			padding: @eventPadTop @eventPadRight @eventPadBottom @eventPadLeft;

			.event-title {
				font-weight: bold;
			}

			.event-speakers {
				.speaker {
					margin-bottom: 8px;

					.title {
						color: #888;
					}
				}
			}

			.event-snippet {
				margin-top: 20px;
				max-width: 640px;

				&:first-child {
					margin-top: 0;
				}
			}

			.event-note {
				color: #a73;
				float: right;
			}
		}

		.column-title {
			background-color: #aaa;
			color: #f3f3f3;
			font-weight: bold;
			font-size: 1.1em;
			padding: 10px;

			.location {
				float: left;
				margin-right: 20px;
			}
		}

		.column:hover {
			background-color: black;
		}

		.column-event {
			padding: 5px 5px 5px 5px;

			.speakers {
				margin-top: 3px;
			}

			.extra-speaker {
				margin-right: 3px;
			}
		}
	}


	.desc-full {
		padding: 10px 10px 10px 10px;
		background-color: #e0e0e7;

		p {
			padding: 0;
			margin: 0 0 10px 0;
		}

		p:last-child {
			margin-bottom: 0;
		}

		h3 {
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 10px;
		}
	}

	div.columns {
		padding: 5px 15px;
		background-color: #f3f3f3;
	}

	table.columns {
		background-color: #f3f3f3;
		margin: 0;

		td {
			vertical-align: top;
			padding: 0;
			padding-right: 1px;
		}

		td:hover {
			background-color: #e0e6f0;

			.column-title {
				background-color: #369;
			}
		}

		td:last-child {
			padding: 0;
		}
	}

	.schedule-nav-title {
		font-size: 12px;
		color: #777;
		font-weight: bold;
	}

	ul.schedule-nav {
		list-style: none;
		margin: 0;
		background-color: #f0f0f0;
		padding: 8px 0;
		margin-bottom: 25px;
		li {
			display: inline-block;
			padding: 0 15px;
			border-right: 1px solid #c1c1c1;

			&:last-child {
				border: 0;
				margin-right: 0;
			}
		}
	}


	div.badge {
		.name {
			font-weight: bold;
			margin-top: 20px;
		}
		.editor {
			border: 1px solid #c1c1c1;
			background-color: white;
			padding: 10px;
		}
		.rate {
			font-style: italic;
		}
		.label {
			width: 150px;
			float: left;
			clear: left;
		}
		.value {
			float: left;
			clear: right;
		}

		input[type="text"] {
			width: 200px;
			padding: 4px;
		}
	}

	table.compact-table {
		td {
			padding: 2px 10px;
		}
	}

	div.profile-content {
		padding-top: 10px;

		div.profile-left-col {
			float: left;
			width: 150px;

		}

		.profile-options {
			list-style: none;
			margin: 0;
			padding: 0;
			border: 1px solid #c1c1c1;

			li {
				cursor: pointer;
				display: block;
				padding: 3px 8px;
				border-bottom: 1px dotted #c1c1c1;
				background-color: #f0f0f0;

				a {
					color: #69c;
					font-weight: bold;
					font-size: 12px;
				}
			}

			li:last-child {
				border: 0;
			}

			li:hover {
				background-color: #e0f0ff;
			}
		}

		div.profile-body {
			margin-left: 170px;

			.name {
				font-weight: bold;
				font-size: 22px;
			}

			.extra-info {
				font-style: italic;
				font-size: 13px;
				color: #666;
				margin-top: 10px;
				margin-bottom: 50px;
			}

			.section-heading {
				color: #444;
				margin-top: 20px;
				font-weight: bold;
				font-size: 16px;
			}

			.section-content {
				padding: 10px;
			}

			.empty-block {
				color: #888;
				font-style: italic;
			}
		}
	}

	a.profile-link {
		text-decoration: none;
		display: inline-block;
		margin: 0;
		padding: 0;
		border: 0;
		overflow: hidden;
	}

	a.profile-link:hover {
		text-decoration: none;
		color: white;
	}

	div.network-list {
		margin-bottom: 15px;
		border: 1px solid #c1c1c1;
		width: 454px;
		-webkit-box-shadow: 3px 3px #e6e6e6;
		-moz-box-shadow: 3px 3px #e6e6e6;
		box-shadow: 3px 3px #e6e6e6;

		.list-heading {
			padding: 5px;
			background-color: #f0f0f0;
			border-bottom: 1px solid #c1c1c1;

			.btn {
				padding: 3px;
				margin-right:4px;
				background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.06, rgb(227,227,227)), color-stop(0.77, rgb(247,247,247)) );
				border-radius: 3px;
				border: 1px solid #c1c1c1;
			}
		}

		.expansion {
			display: none;
		}
	}

	div.medx-network-user {
		width: 72px;
		height: 72px;
		display: inline-block;
		margin: 1px;
		position: relative;
		text-align: center;
		background-color: #bababa;
		overflow: hidden;

		div.wrap {
			position: absolute;
			width: 100%;
			height: 72px;
		}

		div.label {
			position: relative;
			font-size: 14px;
			line-height: 16px;
			color: #fafafa;
			text-decoration: none;
			padding: 4px;
			text-align: center;
			margin: auto;
			padding-top: 15px;
		}

		div.remove {
			position: absolute;
			bottom: 0;
			margin: auto;
			text-align: center;
			width: 100%;

			a {
				font-size: 10px;
				color: red;
				font-weight: bold;
			}
		}

		div.profile-image {
			position: absolute;
			height: 100%;
			width: 100%;

			img {
				height: 100%;
				width: 100%;
			}
		}

		&:hover {
			.profile-image {
				display: none;
			}
		}
	}

	div.speaker-bios {
		margin-top: 20px;
		padding: 10px;
		background-color: #f0f0f0;

		div.speaker-bio {
			border-bottom: 1px solid #c1c1c1;
			margin-bottom: 10px;

			p {
				padding: 0;
				margin: 0 0 10px 0;
			}

			&:last-child {
				margin-bottom: 0;
				border-bottom: none;
			}
		}

	}

	div.attendee {
		clear: both;
		background-color: #f0f0f0;
		padding: 0;
		margin-bottom: 6px;
		box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);

		.photo {
			float: left;
			height: 72px;
		}

		.info {
			padding-top: 8px;
			margin-left: 80px;
			min-height: 64px;

			.name a {
				font-size: 18px;
				color: #369;
			}

			.title {
				color: #888;
			}
		}
	}


	div.rt-toolbar {
		border: 1px solid #c1c1c1;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom: 0;
		cursor: pointer;
		position: relative;


		background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
		background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
		background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
		background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
		background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
		background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);


		.rt-dialog {
			position: absolute;
			background-color: white;
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
			padding: 5px;
			margin-top: 0;

			i {
				font-size: 20px;
				color: #666;
			}
		}

		& > i {
			border-right: 1px solid #c1c1c1;
			font-size: 14px;
			color: #555;
			padding: 7px 16px;
			margin: 0;


			&.wysihtml5-command-active {
				background-color: #d9dddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
				background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
				background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
				background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
				background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
				background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3);
			}
		}
	}

	.wysihtml5-sandbox {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	textarea.rt {
		border-radius: 0;
	}



	.relation-toolbar {
		i {
			font-size: 20px;
			color: #aaa;
			margin-right: 3px;
		}
	}

	.relation-options {
		position: absolute;
		top: 3px;
		right: 2px;

		i {
			font-size: 17px;
		}
	}

	div.rt-wrap {
		textarea {
			margin: 0;
			padding: 5px;
		}
	}


	div.hrlist {
		& > div {
			border-bottom: 1px solid #c1c1c1;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}

		& > div:last-child {
			border-bottom: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	
	.dropdown-menu {
		position: absolute;
		display: none;
		z-index: 10000000;
		
		border: 1px solid #c1c1c1;
		border-radius: 4px;
		background-color: white;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
		padding: 5px;
		
		&:before {
			content: '';
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-bottom: 7px solid rgba(0, 0, 0, 0.2);
			display: inline-block;
			position: absolute;
			top: -7px;
			left: 6px;
		}
			
		&:after {
			content: '';
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-bottom: 6px solid white;
			display: inline-block;
			position: absolute;
			top: -6px;
			left: 7px;
		}
	}
	
	.dp-btn {
		border: 1px solid transparent;
		padding: 3px 5px;
		border-radius: 3px;
		cursor: pointer;
		text-align: center;
		font-weight: bold;
		
		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
			border-color: rgba(0, 0, 0, 0.2);
		}
		
		&.selected {
			background-image: linear-gradient(to bottom, #0088cc, #0044cc);
			color: white;
			border-color: rgba(0, 0, 0, 0.1);
		}
		
		&.disabled {
			color: #888;
		}
	}
	
	.add-on {
		cursor: pointer;
		border: 1px solid #c1c1c1;
		padding: 5px;
		margin: 0;
		margin-left: -1px;
		background-color: #f0f0f0;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		display: inline-block; 
		height: 19px;
		color: #555;
		font-size: 16px;
	}
	
	.datepicker {
		
		.dp-head {
			text-align: center;
		}
		
		
		
		
		.dp-left {
			float: left;
			margin-right: 3px;
			padding: 3px 7px;
		}
		
		.dp-right {
			float:right;
			margin-left: 3px;
			padding: 3px 7px;
		}
		
		.dp-cal {
			border-spacing: collapse;
			
			tr.labels {
				td {
					font-size: 11px;
					font-weight: bold;
					color: #555;
					text-align: center;
					background-color: #f0f0f0;
				}
			}
		}
		
		.dp-title {
			font-weight: bold;
			font-size: 0.9em;
			padding-top: 5px;
		}
	}
	
	.cal-wrap {
		float: left;
		padding-right: 100px;
	}
	
	.time-wrap {
		position: absolute;
		overflow-y: scroll;
		right: 5px;
		top: 10px;
		bottom: 10px;
	}
	
	.submission-groups {
		li {
			display:inline-block;
			padding: 3px 10px;
		}
		li.selected {
			background-color: #f0f0f0;
		}
	}











	.time-block {
		background-color: #e0e0e7;
		color: #555;
		font-size: 15px;
		margin-bottom: 12px;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.23);
		position: relative;
		page-break-inside: avoid;
	}

	.time {
		padding: 15px 0 0 20px;
		color: #888;
		font-size: 12px;
		line-height: 12px;

		.day {
			margin-left: 10px;
			padding-left: 10px;
			border-left: 1px solid #c1c1c1;
		}
	}

	.event-title {
		font-weight: bold;
		padding: 10px 20px;
		background-color: #e0e0e7;
		height: 100%;
	}

	.inner-title {
		display: none;
	}


	table.cluster {
		background-color: #f0f2f2;
		.microcf;
		line-height: 1.5em;
		width: 100%;
		margin: 0;

		td {
			vertical-align: top;
		}

		td.event-title {
			border-right: 1px solid #f0f2f2;
		}

		.column {
			padding: 0 1px 0 0;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	.event-location {
		float: right;
		font-weight: normal;
		padding-left: 10px;
	}

	.event-content {
		background-color: #f0f2f2;
		.microcf;
	}

	.event-photo {
		float: left;
	}

	.event-body {
		float: left;
		padding: 0 20px 10px 20px;
	}



	.event-content.width-50, .event-content.depth-2, .event-content.depth-3, .columns-3 .event-content {
		margin-top: 10px;

		& > .event-photo {
			margin-left: 10px;
		}
		& > .event-body {
			float: none;
			margin-left: 50px;
		}
	}

	.event-body.width-50 {
		float: none;
	}

	.inner-time {
		font-size: 0.9em;
		color: #777;
	}

	.event-speakers {
		margin-top: 10px;
	}

	.event-snippet {
		margin-top: 10px;
		max-width: 640px;
	}

	.speaker-title {
		color: #888;
	}

	.event-speaker {
		margin-bottom: 11px;
	}

	/*.single-block {
		.event-location {
			position: absolute;
			top: 10px;
			right: 20px;
			padding: 0;
		}
	}*/

	.event-title.type-group.depth-1 {
		background-color: #aaa;
		color: #f3f3f3;
		font-weight: bold;
		font-size: 1.1em;
		padding: 10px;
	}

	.event-location.type-group.depth-1 {
		font-weight: bold;
	}



	.type-message {
		font-weight: bold;
		color: #944;
		background-color: #dbb;
	}

	.single-block.type-food, .event-title.type-food {
		background-color: #F3E1CA;
	}

	.single-block.type-workshop_cap, .event-title.type-workshop_cap {
		background-color: #AACCE5;
	}


	.single-block.type-masterclass, .event-title.type-masterclass {
		background-color: #CBE0C4;
	}

	.single-block.type-keynote, .event-title.type-keynote {
		background-color: #777fbb;

		.event-title, .event-location {
			color: #f0f0ff;
		}
		.time {
			color: #ddd;
		}
	}

	
}

table.subblock-columns {
	td {
		padding: 5px;
	}
	margin: 0;
}

.schedule-block.type-keynote, .subblock.type-keynote {
	background-color: #777fbb;
	.block-header {
		.title, .location {
			color: #f0f0ff;
		}
		.time {
			color: #ddd;
		}
	}
}

.schedule-block.type-core, .subblock .type-core {
	//background-color: #cdc;
}

.schedule-block.type-food, .subblock.type-food {
	background-color: #F3E1CA;
}

.schedule-block.type-masterclass, .subblock.type-masterclass {
	background-color: #CBE0C4;
}

.schedule-block.type-workshop_cap, .subblock.type-workshop_cap {
	background-color: #AACCE5;
}

.schedule-block.type-workshop, .subblock.type-workshop {
	background-color: #AACCE5;
}

.columns-2 {
	width: 50%;
}

.columns-3 {
	width: 33%;
}

.columns-4 {
	width: 25%;
}

.columns-5 {
	width: 20%;
}

.event-selection {
	color: #666;
	margin-right: 7px;
	cursor: pointer;

	&.selected {
		color: green;
	}

	&.selected.waitlist {
		color: orange;
	}
}


@media all and (max-width: 699px) {
	.wpcm-wrap {
		ul.schedule-nav {
			li {
				display: block;
				border: 0;
			}
		}
	}

	.wpcm-wrap ul.multistep {
		display: block;
		li {
			display: block;
			max-width: none;
			padding: 8px;
		}
	}

	.wpcm-wrap table.form-table {
		th, td {
			float: left;
			clear: both;
			padding: 0;
		}

		th {
			margin-top: 10px;
		}
	}

	.wpcm-wrap .cluster td {
		display: block;
		width: 100%;
		box-sizing: border-box;
		float: left;

		&.outer-title {
			display: none;
		}	

		div.inner-title {
			display: block;
		}
	}

	.columns-2, .columns-3, .columns-4, .columns-5 {
		width: 100%;
	}
}

// for wkhtmltopdf
@media print {
	#global-footer, #mk-footer, header {
		display: none;
	}

	#theme-page {
		padding: 0;
	}

	#theme-page .theme-page-wrapper.full-layout .theme-content {
		padding: 0;
	}

	.mk-go-top {
		display: none;
	}

	.mk-quick-contact-wrapper {
		display: none;
	}

	.wpcm-wrap {

		.schedule-nav {
			display: none;
		}

		.schedule-nav-title {
			display: none;
		}

		table.cluster {
			page-break-inside: auto;
			display: block;
			box-sizing: border-box;
			width: 100%;

			tbody, tr, td {
				display: block;
				box-sizing: border-box;
				width: 100%;
			}
			
		}

		.event-body.depth-2 {
			page-break-inside: avoid;
		}

		.event-title {
			page-break-after: avoid;
		}

		.schedule-day {
			margin-top: 0;
			page-break-before: always;
		}

		.time-block {
			border-radius: 0;
			box-shadow: none;
			page-break-inside: avoid;
		}
	}
}