/*
 * Clearfix for floating elements.
 */
.link-list  > div {
  margin-bottom: 10px;
}
.link-list  > div a {
  text-decoration: underline;
  font-weight: bold;
}
.link-list  > div span[itemprop="description"] {
  font-style: italic;
}
.rd-options {
  z-index: 100000;
  display: none;
  width: 400px;
  position: absolute;
  cursor: pointer;
  user-select: none;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.rd-options .rd-option {
  border-bottom: 1px solid #c1c1c1;
  background-color: white;
  padding-right: 25px;
}
.rd-options .rd-option:hover {
  background-color: #def;
}
.rd-placeholder {
  border-radius: 3px;
  border: 1px solid #c1c1c1;
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  width: 400px;
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
}
.rd-placeholder .rd-content {
  padding-right: 25px;
}
.rd-placeholder .rd-arrow {
  position: absolute;
  right: 7px;
  top: 50%;
  margin-top: -2px;
  border-width: 5px 4px 5px 4px;
  border-color: transparent;
  border-style: solid;
  border-top: 5px solid black;
  width: 0;
  height: 0;
}
.rd-placeholder .rd-up {
  border: 5px solid transparent;
  border-bottom: 5px solid black;
  margin-top: -6px;
}
.rd-option {
  padding: 4px;
  line-height: 15px;
  *zoom: 1;
}
.rd-option:before,
.rd-option:after {
  content: " ";
  display: table;
}
.rd-option:after {
  clear: both;
}
.rd-option .rd-thumb {
  float: left;
  margin-right: 5px;
  width: 72px;
  height: 72px;
}
.rd-option .rd-label {
  white-space: nowrap;
  color: #555;
  font-weight: bold;
}
.rd-option .rd-desc {
  color: #999;
  font-size: 0.94em;
}
.rd-option.rd-padded {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
}
#theme-page .wpcm-wrap h1,
#theme-page .wpcm-wrap h2,
#theme-page .wpcm-wrap h3,
#theme-page .wpcm-wrap h4,
#theme-page .wpcm-wrap h5,
#theme-page .wpcm-wrap h6,
#theme-page .wpcm-wrap input {
  text-transform: none;
}
#theme-page .wpcm-wrap a {
  color: #369;
}
#theme-page .wpcm-wrap .current a {
  color: white;
}
#theme-page .wpcm-wrap a:hover {
  text-decoration: underline;
}
#theme-page .wpcm-wrap input[type="password"] {
  box-sizing: border-box;
}
#theme-page .wpcm-wrap select {
  padding: 5px;
  font-weight: normal;
  background-color: white;
}
#theme-page .wpcm-wrap ul {
  list-style: none;
}
#theme-page .wpcm-wrap ul.registration-options {
  list-style: none;
}
.wpcm-wrap {
  /*
	input[type="button"], input[type="submit"], button {
		border: 1px solid #c1c1c1;
		border-radius: 40px;
		padding: 3px 15px;
		color: #444;
		cursor: pointer;
	}
*/

  /*.single-block {
		.event-location {
			position: absolute;
			top: 10px;
			right: 20px;
			padding: 0;
		}
	}*/

}
.wpcm-wrap div,
.wpcm-wrap ul,
.wpcm-wrap li,
.wpcm-wrap td {
  color: #252525;
}
.wpcm-wrap table {
  border-spacing: 0;
  border: 0;
}
.wpcm-wrap table tr {
  border: 0;
}
.wpcm-wrap table th,
.wpcm-wrap table td {
  text-align: left;
}
.wpcm-wrap li {
  margin: 0;
}
.wpcm-wrap ul.bullet {
  list-style: square;
  color: black;
}
.wpcm-wrap .admin-box {
  background-color: white;
  padding: 10px;
  border: 1px solid #c1c1c1;
}
.wpcm-wrap .authors {
  background-color: #ececec;
}
.wpcm-wrap .authors .author td {
  padding: 2px 15px;
  color: #555;
  font-size: 0.9em;
}
.wpcm-wrap .authors .author td.primary {
  font-weight: bold;
  color: #8c1515;
}
.wpcm-wrap .heading {
  margin-top: 30px;
  font-weight: bold;
}
.wpcm-wrap .submission-track {
  font-weight: bold;
  display: inline-block;
  font-size: 1.2em;
}
.wpcm-wrap .submission-category {
  font-size: 1.2em;
  color: #555;
  display: inline-block;
}
.wpcm-wrap .submission-category:before {
  content: "/";
}
.wpcm-wrap .file-embed {
  padding: 10px;
}
.wpcm-wrap .comment {
  *zoom: 1;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
.wpcm-wrap .comment:before,
.wpcm-wrap .comment:after {
  content: " ";
  display: table;
}
.wpcm-wrap .comment:after {
  clear: both;
}
.wpcm-wrap .comment .thumb {
  float: left;
}
.wpcm-wrap .comment .content {
  padding-left: 70px;
}
.wpcm-wrap .comment .user {
  color: #8c1515;
  font-weight: bold;
}
.wpcm-wrap .comment .date {
  font-weight: bold;
  color: #555;
  float: right;
}
.wpcm-wrap .comment .comment-body {
  padding: 3px 0;
}
.wpcm-wrap .review {
  background-color: #ececec;
  padding: 10px;
}
.wpcm-wrap div.ticker-wrap {
  position: relative;
  overflow-x: hidden;
  height: 20px;
}
.wpcm-wrap div.ticker-wrap ul.ticker {
  position: absolute;
  list-style: none;
  margin: 0;
  bottom: 2px;
  z-index: 1000;
  white-space: nowrap;
  opacity: 0.7;
  line-height: 20px;
}
.wpcm-wrap div.ticker-wrap ul.ticker li {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  text-shadow: 0px 0px 20px #969696;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 20px;
  padding-right: 20px;
}
.wpcm-wrap div.ticker-wrap ul.ticker li:last-child {
  border: 0;
}
.wpcm-wrap div.form {
  max-width: 800px;
}
.wpcm-wrap div.form .invalid {
  border: 1px solid #900;
  background-color: #fdd;
}
.wpcm-wrap div.form input[type="text"],
.wpcm-wrap div.form input[type="password"],
.wpcm-wrap div.form textarea {
  background-color: white;
  border: 1px solid #c1c1c1;
  padding: 5px;
  margin: 0;
}
.wpcm-wrap div.form input[type="button"]:disabled {
  color: #aaa;
}
.wpcm-wrap div.form .row {
  *zoom: 1;
  padding: 10px 0;
}
.wpcm-wrap div.form .row:before,
.wpcm-wrap div.form .row:after {
  content: " ";
  display: table;
}
.wpcm-wrap div.form .row:after {
  clear: both;
}
.wpcm-wrap div.form .row .label {
  width: 175px;
  float: left;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
.wpcm-wrap div.form .row .label.required {
  color: #800000;
}
.wpcm-wrap div.form .row .value {
  margin-left: 175px;
}
.wpcm-wrap div.form .row .value .inline-relation {
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
  padding: 2px 30px 2px 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  position: relative;
  border: 1px solid #c1c1c1;
}
.wpcm-wrap div.form .row .value .inline-relation .row {
  padding: 5px 0;
}
.wpcm-wrap div.form .row .value .inline-relation .row .label {
  width: 140px;
}
.wpcm-wrap .bean-results {
  position: absolute;
  z-index: 10000000;
  overflow-y: scroll;
  max-height: 300px;
  display: none;
  width: 400px;
  border: 1px solid #c1c1c1;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.wpcm-wrap .bean-result {
  *zoom: 1;
  margin-bottom: 3px;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 3px;
  cursor: default;
}
.wpcm-wrap .bean-result:before,
.wpcm-wrap .bean-result:after {
  content: " ";
  display: table;
}
.wpcm-wrap .bean-result:after {
  clear: both;
}
.wpcm-wrap .bean-result:hover {
  background-color: #f0f0f0;
}
.wpcm-wrap .bean-result:last-child {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.wpcm-wrap .bean-result img {
  float: left;
  margin-right: 5px;
}
.wpcm-wrap .bean-result .result-desc {
  color: #666;
}
.wpcm-wrap span.description {
  color: #777;
  font-style: italic;
  margin-left: 15px;
}
.wpcm-wrap input.button-primary {
  background-color: #369;
}
.wpcm-wrap a.button-primary {
  background-image: -webkit-linear-gradient(top, #6699cc, #336699);
  background-image: -moz-linear-gradient(top, #6699cc, #336699);
  background-image: -ms-linear-gradient(top, #6699cc, #336699);
  background-image: linear-gradient(top, #6699cc, #336699);
  color: white;
  border: 1px solid #225588;
  text-shadow: none;
  padding: 3px 15px;
  border-radius: 100px;
}
.wpcm-wrap .right {
  text-align: right;
}
.wpcm-wrap .spacer {
  clear: both;
}
.wpcm-wrap .hidden {
  display: none;
}
.wpcm-wrap a.button {
  display: inline-block;
}
.wpcm-wrap .hideimages img {
  display: none;
}
.wpcm-wrap div.pagination {
  float: right;
}
.wpcm-wrap div.pagination span {
  font-style: italic;
  color: #888;
}
.wpcm-wrap div.pagination input {
  width: 20px;
  padding: 2px;
  margin: 0 3px;
  font-size: 11px;
  border-radius: 3px;
  text-align: center;
}
.wpcm-wrap div.pagination a {
  border: 1px solid #c1c1c1;
  background-color: #ececec;
  border-radius: 3px;
  padding: 0 5px;
  margin: 0 1px;
  display: inline-block;
  text-decoration: none;
}
.wpcm-wrap div.search {
  background-color: transparent;
  float: left;
}
.wpcm-wrap div.search input[type="submit"] {
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
}
.wpcm-wrap .hovershow {
  visibility: hidden;
}
.wpcm-wrap .hoverable:hover .hovershow {
  visibility: visible;
}
.wpcm-wrap .submission-summary {
  background-color: #f6f6f6;
}
.wpcm-wrap .submission-summary .abstract {
  padding: 10px;
  max-width: 750px;
}
.wpcm-wrap .submission-summary .abstract ul {
  list-style: square;
  margin-left: 20px;
}
.wpcm-wrap .submission-summary .abstract p {
  margin-bottom: 8px;
}
.wpcm-wrap .submission-summary .abstract p:last-child {
  margin-bottom: 0;
}
.wpcm-wrap .reviewer-options {
  padding: 10px;
}
.wpcm-wrap .submission-options {
  padding-top: 10px;
}
.wpcm-wrap table.display-table {
  border: 1px solid #c1c1c1;
  margin-top: 10px;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  overflow: visible;
}
.wpcm-wrap table.display-table tr.odd td {
  background-color: #f2f2f2;
}
.wpcm-wrap table.display-table tr:hover .hovershow {
  visibility: visible;
}
.wpcm-wrap table.display-table tr.empty td {
  font-style: italic;
  font-weight: bold;
  color: #999;
}
.wpcm-wrap table.display-table td,
.wpcm-wrap table.display-table th {
  padding: 10px;
  border: none;
  word-wrap: break-word;
  vertical-align: top;
}
.wpcm-wrap table.display-table th {
  border-bottom: 1px solid #c1c1c1;
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
  background-color: #f1f1f1;
  border-right: 1px dotted #ccc;
  text-align: left;
}
.wpcm-wrap table.display-table tr.footer th {
  border-top: 1px solid #c1c1c1;
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
}
.wpcm-wrap a.sorter {
  padding-right: 17px;
}
.wpcm-wrap a.sorter:hover {
  background-image: url(../images/sort.gif);
  background-repeat: no-repeat;
  background-position: right center;
}
.wpcm-wrap ul.tabs {
  list-style: none;
  border-bottom: 1px solid #c1c1c1;
  position: relative;
  margin: 0;
  padding: 0 0 0 10px;
  margin-bottom: 20px;
}
.wpcm-wrap ul.tabs li {
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
  padding: 5px 10px;
  margin: 0 2px 0 0;
  border: 1px solid #c1c1c1;
  display: inline-block;
  position: relative;
  top: 1px;
  font-size: 15px;
  cursor: default;
}
.wpcm-wrap ul.tabs li.selected {
  background-color: white;
  border-bottom: 1px solid white;
  background-image: none;
}
.wpcm-wrap #common_form ul {
  list-style: square;
}
.wpcm-wrap div.heading {
  font-size: 18px;
  padding: 5px 10px;
  margin-top: 20px;
  font-weight: normal;
  color: #555;
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
  border: 1px solid #c1c1c1;
  border-width: 1px 1px 0 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.wpcm-wrap ul.multistep {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wpcm-wrap ul.multistep li {
  display: inline-block;
  border: 1px solid #c1c1c1;
  background-color: white;
  margin: 0;
  padding: 10px 20px;
  margin-left: -1px;
  font-weight: bold;
  max-width: 200px;
}
.wpcm-wrap ul.multistep li a {
  text-decoration: none;
  color: inherit;
}
.wpcm-wrap ul.multistep li a:hover {
  text-decoration: underline;
}
.wpcm-wrap ul.multistep li.past {
  background-color: #eee;
}
.wpcm-wrap ul.multistep li.current {
  background-color: #5588bb;
  background-image: -webkit-linear-gradient(top, #5588bb, #336699);
  background-image: -moz-linear-gradient(top, #5588bb, #336699);
  background-image: -ms-linear-gradient(top, #5588bb, #336699);
  background-image: linear-gradient(top, #5588bb, #336699);
  color: white;
}
.wpcm-wrap ul.multistep li.current div.description {
  color: white;
}
.wpcm-wrap div.messages {
  margin: 20px 0;
  padding: 0;
}
.wpcm-wrap div.messages  > div {
  padding: 10px;
}
.wpcm-wrap div.messages .warn {
  background-color: #ffffcc;
  border: 1px solid #aa0;
}
.wpcm-wrap div.messages .error {
  background-color: #fcc;
  border: 1px solid #900;
}
.wpcm-wrap div.messages .error a {
  color: blue;
}
.wpcm-wrap div.messages .success {
  background-color: #dfd;
  border: 1px solid #090;
}
.wpcm-wrap table.compact td,
.wpcm-wrap table.compact th {
  padding: 2px 6px;
}
.wpcm-wrap table.compact th {
  background: transparent;
  border: 0;
}
.wpcm-wrap table.pricing {
  cell-spacing: 0;
}
.wpcm-wrap table.pricing td {
  padding: 2px 5px;
}
.wpcm-wrap .price-name {
  width: 300px;
}
.wpcm-wrap .notice {
  background-color: #ffffcc;
  border: 1px solid #cccc00;
}
.wpcm-wrap .warn {
  background-color: #fcc;
  color: #900;
}
.wpcm-wrap .success {
  background-color: #dfd;
  border: 1px solid #090;
}
.wpcm-wrap tr.addon-custom label {
  margin-left: 20px;
  color: #888;
}
.wpcm-wrap table.summary-table {
  width: 800px;
  border-spacing: 0;
  border-top: 1px dotted #c1c1c1;
  border-right: 1px dotted #c1c1c1;
}
.wpcm-wrap table.summary-table td {
  border-left: 1px dotted #c1c1c1;
  border-bottom: 1px dotted #c1c1c1;
}
.wpcm-wrap div.highlight-box {
  /*border: 1px solid #c1c1c1;
		padding: 10px;
		background-color: #fafafa;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
		margin: 0 0 20px 0;

		h3 {
			margin-top: 0;
		}*/

}
.wpcm-wrap ul.registration-options {
  margin-left: 10px;
  width: 600px;
}
.wpcm-wrap ul.registration-options li {
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  clear: both;
  border: 1px solid #c1c1c1;
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
  border-radius: 6px;
}
.wpcm-wrap ul.registration-options li label {
  font-size: 16px;
}
.wpcm-wrap img.thumbnail {
  width: 150px;
}
.wpcm-wrap .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100000;
}
.wpcm-wrap .modal .content {
  width: 600px;
  height: 400px;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 100000;
}
.wpcm-wrap .modal .content #warnings {
  height: 300px;
  overflow: auto;
}
.wpcm-wrap .modal .content ul.buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  padding: 0;
}
.wpcm-wrap .modal .content ul.buttons li {
  display: inline-block;
}
.wpcm-wrap .hidden {
  display: none;
}
.wpcm-wrap span.dropdown {
  border: 1px solid #c1c1c1;
  padding: 2px 30px 2px 2px;
  background-color: white;
  cursor: pointer;
  display: inline-block;
}
.wpcm-wrap ul.dropdown {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  border: 1px solid #c1c1c1;
  position: absolute;
  cursor: default;
}
.wpcm-wrap ul.dropdown li {
  padding: 2px 30px 2px 2px;
}
.wpcm-wrap ul.dropdown li:hover {
  background-color: #ddddff;
}
.wpcm-wrap tr.form-error label {
  color: #900;
}
.wpcm-wrap .error-msg {
  font-style: italic;
  color: #900;
  display: none;
}
.wpcm-wrap .section-title {
  margin-top: 22px;
  color: black;
  font-weight: bold;
}
.wpcm-wrap table.form-table {
  table-layout: fixed;
}
.wpcm-wrap table.form-table th[scope="row"] {
  width: 140px;
  vertical-align: top;
  padding-top: 5px;
}
.wpcm-wrap table.form-table input,
.wpcm-wrap table.form-table textarea {
  color: #333;
}
.wpcm-wrap label.vert-label {
  font-size: 12px;
  color: #777;
  display: block;
  font-weight: bold;
}
.wpcm-wrap div.login {
  position: relative;
  width: 320px;
  *zoom: 1;
}
.wpcm-wrap div.login:before,
.wpcm-wrap div.login:after {
  content: " ";
  display: table;
}
.wpcm-wrap div.login:after {
  clear: both;
}
.wpcm-wrap div.login label.remember {
  font-size: 12px;
  color: #777;
}
.wpcm-wrap div.login #email,
.wpcm-wrap div.login #password {
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}
.wpcm-wrap div.login .login-button {
  float: left;
}
.wpcm-wrap div.login .login-options {
  float: right;
}
.wpcm-wrap div.reset #email {
  width: 250px;
}
.wpcm-wrap div.inline-editor {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  width: 700px;
  height: 500px;
  margin-left: -350px;
  margin-top: -250px;
  background-color: white;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
}
.wpcm-wrap div.editor-details {
  border: 1px solid #c1c1c1;
  background-color: white;
  padding: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 1000;
}
.wpcm-wrap div.editor-details div.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 10px;
  width: 10px;
  background-color: #faa;
  border: 1px solid red;
  border-radius: 100%;
  cursor: pointer;
}
.wpcm-wrap div.editor-details div.close-button:hover {
  background-color: #f66;
}
.wpcm-wrap div.editor-details label {
  color: #555;
  font-weight: bold;
}
.wpcm-wrap table.data-table {
  border: 1px solid #c1c1c1;
  background-color: white;
}
.wpcm-wrap table.data-table tr:last-child td {
  border-bottom: 0;
}
.wpcm-wrap table.data-table td,
.wpcm-wrap table.data-table th {
  padding: 8px 15px;
  border-bottom: 1px dotted #c1c1c1;
  border-right: 1px dotted #c1c1c1;
}
.wpcm-wrap table.data-table td:last-child,
.wpcm-wrap table.data-table th:last-child {
  border-right: 0;
}
.wpcm-wrap table.data-table th {
  text-align: center;
  background-image: linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
  border-bottom: 1px solid #c1c1c1;
}
.wpcm-wrap #summary {
  width: 800px;
}
.wpcm-wrap #summary h3 {
  margin-top: 30px;
}
.wpcm-wrap .select-addons h3 {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: bold;
}
.wpcm-wrap .select-addons div.addon {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px dotted #e1e1e1;
}
.wpcm-wrap .select-addons div.addon:last-child {
  border: 0;
  margin-bottom: 10px;
  padding-bottom: 0;
}
.wpcm-wrap .select-addons div.addon .photo {
  font-size: 0;
  float: left;
}
.wpcm-wrap .select-addons div.addon .photo div {
  display: none;
}
.wpcm-wrap .select-addons div.addon .photo img {
  margin: 0;
}
.wpcm-wrap .select-addons div.addon .photo p {
  margin: 0;
  font-size: 0;
}
.wpcm-wrap .select-addons div.addon .info {
  float: left;
  max-width: 700px;
  margin-left: 10px;
}
.wpcm-wrap .select-addons div.addon .info .description {
  padding: 10px 0;
  border-bottom: 0;
}
.wpcm-wrap .select-addons div.addon .info .description img {
  display: none;
}
.wpcm-wrap .select-addons div.addon .info .description p {
  margin: 0;
}
.wpcm-wrap .select-addons div.addon .info .title {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  padding: 0 0 10px 0;
  background-clip: padding-box;
}
.wpcm-wrap .select-addons div.addon .info ul.prices {
  margin: 0;
  padding: 10px;
  background-color: #eaeaea;
}
.wpcm-wrap #speaker #latest_tweets ul {
  margin: 0;
}
.wpcm-wrap #speaker #latest_tweets ul li {
  background-color: #f0f0f0;
  margin: 0 10px 4px 0;
  color: #666;
  padding: 10px;
}
.wpcm-wrap #speaker #latest_tweets ul li:last-child {
  border: 0;
}
.wpcm-wrap #speaker #left-col {
  width: 320px;
  float: left;
}
.wpcm-wrap #speaker #main-col {
  float: left;
  width: 600px;
  margin-left: 20px;
}
.wpcm-wrap #speaker #main-col h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.wpcm-wrap #speaker #main-col .content {
  font-size: 14px;
  line-height: 24px;
}
.wpcm-wrap #speaker #speaker-name {
  font-size: 24px;
  color: #555;
  margin-top: 20px;
}
.wpcm-wrap #speaker #speaker-title {
  font-size: 16px;
  font-style: italic;
  margin-top: 20px;
}
.wpcm-wrap #speaker #social {
  margin-top: 20px;
}
.wpcm-wrap .speaker-list {
  background-color: #f0f0f0;
  padding: 0 5px;
  margin-top: 10px;
}
.wpcm-wrap .speaker-list .speaker {
  border-bottom: 1px solid #c1c1c1;
  padding-top: 5px;
}
.wpcm-wrap .speaker-list .speaker:last-child {
  border: 0;
}
.wpcm-wrap .talk {
  margin-bottom: 10px;
  background-color: #f0f0f0;
  padding: 10px;
}
.wpcm-wrap .talk .talk-title {
  font-size: 16px;
  margin: 8px 0;
}
.wpcm-wrap .talk .talk-snippet {
  color: #666;
}
.wpcm-wrap .event-group {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #aaa;
  color: #f6f6f6;
}
.wpcm-wrap .event-group.depth1 {
  background-color: #8ac;
  font-size: 14px;
}
.wpcm-wrap .event-group.depth1 .group-location {
  display: none;
}
.wpcm-wrap .event-group .group-location {
  float: right;
  font-size: 16px;
  line-height: 20px;
}
.wpcm-wrap .event {
  background-color: #efefef;
  margin-bottom: 20px;
  padding-bottom: 3px;
  box-shadow: inset 0px -3px 3px 0 rgba(0, 0, 0, 0.08);
  font-size: 16px;
  color: #555;
  border-radius: 5px;
}
.wpcm-wrap .event .event-heading {
  padding: 10px 20px;
  border-bottom: 1px solid #c1c1c1;
}
.wpcm-wrap .event .event-heading .event-location {
  float: right;
}
.wpcm-wrap .event .event-wrap.with-photo {
  min-height: 200px;
}
.wpcm-wrap .event .event-wrap .event-photo {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
}
.wpcm-wrap .event .event-wrap .event-info {
  padding: 20px;
}
.wpcm-wrap .event .event-wrap .event-info .event-title {
  font-weight: bold;
}
.wpcm-wrap .event .event-wrap .event-info .event-snippet {
  font-size: 0.9em;
  margin-top: 20px;
  line-height: 20px;
  color: #333;
}
.wpcm-wrap .event .event-wrap .event-info .event-speakers {
  margin-top: 20px;
}
.wpcm-wrap .event .event-wrap .event-info .event-speakers .event-speaker {
  margin-top: 10px;
}
.wpcm-wrap .event .event-wrap .event-info .event-speakers .event-speaker:first-child {
  margin-top: 0;
}
.wpcm-wrap .event .event-wrap .event-info .event-speakers .event-speaker .speaker-title {
  color: #888;
}
.wpcm-wrap .schedule-day {
  padding-bottom: 3px;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.wpcm-wrap .schedule-day:first-child {
  margin-top: 0;
}
.wpcm-wrap .schedule-block {
  background-color: #e0e0e7;
  font-size: 15px;
  color: #555;
  margin-bottom: 12px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.23);
}
.wpcm-wrap .schedule-block .block-header .location {
  float: right;
  padding: 10px 20px 0 0;
}
.wpcm-wrap .schedule-block .block-header .title {
  padding: 0 0 10px 20px;
  font-size: 1em;
  font-weight: bold;
}
.wpcm-wrap .schedule-block .subblock {
  padding: 10px 20px 10px 20px;
}
.wpcm-wrap .schedule-block .subblock .title {
  font-weight: bold;
}
.wpcm-wrap .schedule-block .subblock .location {
  float: right;
}
.wpcm-wrap .schedule-block .group-title {
  font-weight: bold;
  padding: 10px;
}
.wpcm-wrap .schedule-block .group-title .location {
  float: right;
}
.wpcm-wrap .schedule-block .block-photo {
  float: left;
}
.wpcm-wrap .schedule-block .content-wrap {
  background-color: #f0f2f2;
}
.wpcm-wrap .schedule-block .content-wrap.multi-photo .block-content {
  clear: both;
}
.wpcm-wrap .schedule-block .block-content {
  padding: 10px 20px 10px 20px;
}
.wpcm-wrap .schedule-block .block-content .event-title {
  font-weight: bold;
}
.wpcm-wrap .schedule-block .block-content .event-speakers .speaker {
  margin-bottom: 8px;
}
.wpcm-wrap .schedule-block .block-content .event-speakers .speaker .title {
  color: #888;
}
.wpcm-wrap .schedule-block .block-content .event-snippet {
  margin-top: 20px;
  max-width: 640px;
}
.wpcm-wrap .schedule-block .block-content .event-snippet:first-child {
  margin-top: 0;
}
.wpcm-wrap .schedule-block .block-content .event-note {
  color: #a73;
  float: right;
}
.wpcm-wrap .schedule-block .column-title {
  background-color: #aaa;
  color: #f3f3f3;
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px;
}
.wpcm-wrap .schedule-block .column-title .location {
  float: left;
  margin-right: 20px;
}
.wpcm-wrap .schedule-block .column:hover {
  background-color: black;
}
.wpcm-wrap .schedule-block .column-event {
  padding: 5px 5px 5px 5px;
}
.wpcm-wrap .schedule-block .column-event .speakers {
  margin-top: 3px;
}
.wpcm-wrap .schedule-block .column-event .extra-speaker {
  margin-right: 3px;
}
.wpcm-wrap .desc-full {
  padding: 10px 10px 10px 10px;
  background-color: #e0e0e7;
}
.wpcm-wrap .desc-full p {
  padding: 0;
  margin: 0 0 10px 0;
}
.wpcm-wrap .desc-full p:last-child {
  margin-bottom: 0;
}
.wpcm-wrap .desc-full h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.wpcm-wrap div.columns {
  padding: 5px 15px;
  background-color: #f3f3f3;
}
.wpcm-wrap table.columns {
  background-color: #f3f3f3;
  margin: 0;
}
.wpcm-wrap table.columns td {
  vertical-align: top;
  padding: 0;
  padding-right: 1px;
}
.wpcm-wrap table.columns td:hover {
  background-color: #e0e6f0;
}
.wpcm-wrap table.columns td:hover .column-title {
  background-color: #369;
}
.wpcm-wrap table.columns td:last-child {
  padding: 0;
}
.wpcm-wrap .schedule-nav-title {
  font-size: 12px;
  color: #777;
  font-weight: bold;
}
.wpcm-wrap ul.schedule-nav {
  list-style: none;
  margin: 0;
  background-color: #f0f0f0;
  padding: 8px 0;
  margin-bottom: 25px;
}
.wpcm-wrap ul.schedule-nav li {
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #c1c1c1;
}
.wpcm-wrap ul.schedule-nav li:last-child {
  border: 0;
  margin-right: 0;
}
.wpcm-wrap div.badge .name {
  font-weight: bold;
  margin-top: 20px;
}
.wpcm-wrap div.badge .editor {
  border: 1px solid #c1c1c1;
  background-color: white;
  padding: 10px;
}
.wpcm-wrap div.badge .rate {
  font-style: italic;
}
.wpcm-wrap div.badge .label {
  width: 150px;
  float: left;
  clear: left;
}
.wpcm-wrap div.badge .value {
  float: left;
  clear: right;
}
.wpcm-wrap div.badge input[type="text"] {
  width: 200px;
  padding: 4px;
}
.wpcm-wrap table.compact-table td {
  padding: 2px 10px;
}
.wpcm-wrap div.profile-content {
  padding-top: 10px;
}
.wpcm-wrap div.profile-content div.profile-left-col {
  float: left;
  width: 150px;
}
.wpcm-wrap div.profile-content .profile-options {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #c1c1c1;
}
.wpcm-wrap div.profile-content .profile-options li {
  cursor: pointer;
  display: block;
  padding: 3px 8px;
  border-bottom: 1px dotted #c1c1c1;
  background-color: #f0f0f0;
}
.wpcm-wrap div.profile-content .profile-options li a {
  color: #69c;
  font-weight: bold;
  font-size: 12px;
}
.wpcm-wrap div.profile-content .profile-options li:last-child {
  border: 0;
}
.wpcm-wrap div.profile-content .profile-options li:hover {
  background-color: #e0f0ff;
}
.wpcm-wrap div.profile-content div.profile-body {
  margin-left: 170px;
}
.wpcm-wrap div.profile-content div.profile-body .name {
  font-weight: bold;
  font-size: 22px;
}
.wpcm-wrap div.profile-content div.profile-body .extra-info {
  font-style: italic;
  font-size: 13px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 50px;
}
.wpcm-wrap div.profile-content div.profile-body .section-heading {
  color: #444;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}
.wpcm-wrap div.profile-content div.profile-body .section-content {
  padding: 10px;
}
.wpcm-wrap div.profile-content div.profile-body .empty-block {
  color: #888;
  font-style: italic;
}
.wpcm-wrap a.profile-link {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.wpcm-wrap a.profile-link:hover {
  text-decoration: none;
  color: white;
}
.wpcm-wrap div.network-list {
  margin-bottom: 15px;
  border: 1px solid #c1c1c1;
  width: 454px;
  -webkit-box-shadow: 3px 3px #e6e6e6;
  -moz-box-shadow: 3px 3px #e6e6e6;
  box-shadow: 3px 3px #e6e6e6;
}
.wpcm-wrap div.network-list .list-heading {
  padding: 5px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #c1c1c1;
}
.wpcm-wrap div.network-list .list-heading .btn {
  padding: 3px;
  margin-right: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.06, #e3e3e3), color-stop(0.77, #f7f7f7));
  border-radius: 3px;
  border: 1px solid #c1c1c1;
}
.wpcm-wrap div.network-list .expansion {
  display: none;
}
.wpcm-wrap div.medx-network-user {
  width: 72px;
  height: 72px;
  display: inline-block;
  margin: 1px;
  position: relative;
  text-align: center;
  background-color: #bababa;
  overflow: hidden;
}
.wpcm-wrap div.medx-network-user div.wrap {
  position: absolute;
  width: 100%;
  height: 72px;
}
.wpcm-wrap div.medx-network-user div.label {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: #fafafa;
  text-decoration: none;
  padding: 4px;
  text-align: center;
  margin: auto;
  padding-top: 15px;
}
.wpcm-wrap div.medx-network-user div.remove {
  position: absolute;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 100%;
}
.wpcm-wrap div.medx-network-user div.remove a {
  font-size: 10px;
  color: red;
  font-weight: bold;
}
.wpcm-wrap div.medx-network-user div.profile-image {
  position: absolute;
  height: 100%;
  width: 100%;
}
.wpcm-wrap div.medx-network-user div.profile-image img {
  height: 100%;
  width: 100%;
}
.wpcm-wrap div.medx-network-user:hover .profile-image {
  display: none;
}
.wpcm-wrap div.speaker-bios {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
}
.wpcm-wrap div.speaker-bios div.speaker-bio {
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 10px;
}
.wpcm-wrap div.speaker-bios div.speaker-bio p {
  padding: 0;
  margin: 0 0 10px 0;
}
.wpcm-wrap div.speaker-bios div.speaker-bio:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.wpcm-wrap div.attendee {
  clear: both;
  background-color: #f0f0f0;
  padding: 0;
  margin-bottom: 6px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.wpcm-wrap div.attendee .photo {
  float: left;
  height: 72px;
}
.wpcm-wrap div.attendee .info {
  padding-top: 8px;
  margin-left: 80px;
  min-height: 64px;
}
.wpcm-wrap div.attendee .info .name a {
  font-size: 18px;
  color: #369;
}
.wpcm-wrap div.attendee .info .title {
  color: #888;
}
.wpcm-wrap div.rt-toolbar {
  border: 1px solid #c1c1c1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 0;
  cursor: pointer;
  position: relative;
  background-color: #f4f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
  background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
.wpcm-wrap div.rt-toolbar .rt-dialog {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin-top: 0;
}
.wpcm-wrap div.rt-toolbar .rt-dialog i {
  font-size: 20px;
  color: #666;
}
.wpcm-wrap div.rt-toolbar  > i {
  border-right: 1px solid #c1c1c1;
  font-size: 14px;
  color: #555;
  padding: 7px 16px;
  margin: 0;
}
.wpcm-wrap div.rt-toolbar  > i.wysihtml5-command-active {
  background-color: #d9dddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
  background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr=#d9dddd, endColorstr=#c6c3c3);
}
.wpcm-wrap .wysihtml5-sandbox {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.wpcm-wrap textarea.rt {
  border-radius: 0;
}
.wpcm-wrap .relation-toolbar i {
  font-size: 20px;
  color: #aaa;
  margin-right: 3px;
}
.wpcm-wrap .relation-options {
  position: absolute;
  top: 3px;
  right: 2px;
}
.wpcm-wrap .relation-options i {
  font-size: 17px;
}
.wpcm-wrap div.rt-wrap textarea {
  margin: 0;
  padding: 5px;
}
.wpcm-wrap div.hrlist  > div {
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.wpcm-wrap div.hrlist  > div:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.wpcm-wrap .dropdown-menu {
  position: absolute;
  display: none;
  z-index: 10000000;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.wpcm-wrap .dropdown-menu:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 6px;
}
.wpcm-wrap .dropdown-menu:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  display: inline-block;
  position: absolute;
  top: -6px;
  left: 7px;
}
.wpcm-wrap .dp-btn {
  border: 1px solid transparent;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}
.wpcm-wrap .dp-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
}
.wpcm-wrap .dp-btn.selected {
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  color: white;
  border-color: rgba(0, 0, 0, 0.1);
}
.wpcm-wrap .dp-btn.disabled {
  color: #888;
}
.wpcm-wrap .add-on {
  cursor: pointer;
  border: 1px solid #c1c1c1;
  padding: 5px;
  margin: 0;
  margin-left: -1px;
  background-color: #f0f0f0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: inline-block;
  height: 19px;
  color: #555;
  font-size: 16px;
}
.wpcm-wrap .datepicker .dp-head {
  text-align: center;
}
.wpcm-wrap .datepicker .dp-left {
  float: left;
  margin-right: 3px;
  padding: 3px 7px;
}
.wpcm-wrap .datepicker .dp-right {
  float: right;
  margin-left: 3px;
  padding: 3px 7px;
}
.wpcm-wrap .datepicker .dp-cal {
  border-spacing: collapse;
}
.wpcm-wrap .datepicker .dp-cal tr.labels td {
  font-size: 11px;
  font-weight: bold;
  color: #555;
  text-align: center;
  background-color: #f0f0f0;
}
.wpcm-wrap .datepicker .dp-title {
  font-weight: bold;
  font-size: 0.9em;
  padding-top: 5px;
}
.wpcm-wrap .cal-wrap {
  float: left;
  padding-right: 100px;
}
.wpcm-wrap .time-wrap {
  position: absolute;
  overflow-y: scroll;
  right: 5px;
  top: 10px;
  bottom: 10px;
}
.wpcm-wrap .submission-groups li {
  display: inline-block;
  padding: 3px 10px;
}
.wpcm-wrap .submission-groups li.selected {
  background-color: #f0f0f0;
}
.wpcm-wrap .time-block {
  background-color: #e0e0e7;
  color: #555;
  font-size: 15px;
  margin-bottom: 12px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.23);
  position: relative;
  page-break-inside: avoid;
}
.wpcm-wrap .time {
  padding: 15px 0 0 20px;
  color: #888;
  font-size: 12px;
  line-height: 12px;
}
.wpcm-wrap .time .day {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #c1c1c1;
}
.wpcm-wrap .event-title {
  font-weight: bold;
  padding: 10px 20px;
  background-color: #e0e0e7;
  height: 100%;
}
.wpcm-wrap .inner-title {
  display: none;
}
.wpcm-wrap table.cluster {
  background-color: #f0f2f2;
  *zoom: 1;
  line-height: 1.5em;
  width: 100%;
  margin: 0;
}
.wpcm-wrap table.cluster:before,
.wpcm-wrap table.cluster:after {
  content: " ";
  display: table;
}
.wpcm-wrap table.cluster:after {
  clear: both;
}
.wpcm-wrap table.cluster td {
  vertical-align: top;
}
.wpcm-wrap table.cluster td.event-title {
  border-right: 1px solid #f0f2f2;
}
.wpcm-wrap table.cluster .column {
  padding: 0 1px 0 0;
}
.wpcm-wrap table.cluster .column:first-child {
  padding-left: 0;
}
.wpcm-wrap table.cluster .column:last-child {
  padding-right: 0;
}
.wpcm-wrap .event-location {
  float: right;
  font-weight: normal;
  padding-left: 10px;
}
.wpcm-wrap .event-content {
  background-color: #f0f2f2;
  *zoom: 1;
}
.wpcm-wrap .event-content:before,
.wpcm-wrap .event-content:after {
  content: " ";
  display: table;
}
.wpcm-wrap .event-content:after {
  clear: both;
}
.wpcm-wrap .event-photo {
  float: left;
}
.wpcm-wrap .event-body {
  float: left;
  padding: 0 20px 10px 20px;
}
.wpcm-wrap .event-content.width-50,
.wpcm-wrap .event-content.depth-2,
.wpcm-wrap .event-content.depth-3,
.wpcm-wrap .columns-3 .event-content {
  margin-top: 10px;
}
.wpcm-wrap .event-content.width-50  > .event-photo,
.wpcm-wrap .event-content.depth-2  > .event-photo,
.wpcm-wrap .event-content.depth-3  > .event-photo,
.wpcm-wrap .columns-3 .event-content  > .event-photo {
  margin-left: 10px;
}
.wpcm-wrap .event-content.width-50  > .event-body,
.wpcm-wrap .event-content.depth-2  > .event-body,
.wpcm-wrap .event-content.depth-3  > .event-body,
.wpcm-wrap .columns-3 .event-content  > .event-body {
  float: none;
  margin-left: 50px;
}
.wpcm-wrap .event-body.width-50 {
  float: none;
}
.wpcm-wrap .inner-time {
  font-size: 0.9em;
  color: #777;
}
.wpcm-wrap .event-speakers {
  margin-top: 10px;
}
.wpcm-wrap .event-snippet {
  margin-top: 10px;
  max-width: 640px;
}
.wpcm-wrap .speaker-title {
  color: #888;
}
.wpcm-wrap .event-speaker {
  margin-bottom: 11px;
}
.wpcm-wrap .event-title.type-group.depth-1 {
  background-color: #aaa;
  color: #f3f3f3;
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px;
}
.wpcm-wrap .event-location.type-group.depth-1 {
  font-weight: bold;
}
.wpcm-wrap .type-message {
  font-weight: bold;
  color: #944;
  background-color: #dbb;
}
.wpcm-wrap .single-block.type-food,
.wpcm-wrap .event-title.type-food {
  background-color: #F3E1CA;
}
.wpcm-wrap .single-block.type-workshop_cap,
.wpcm-wrap .event-title.type-workshop_cap {
  background-color: #AACCE5;
}
.wpcm-wrap .single-block.type-masterclass,
.wpcm-wrap .event-title.type-masterclass {
  background-color: #CBE0C4;
}
.wpcm-wrap .single-block.type-keynote,
.wpcm-wrap .event-title.type-keynote {
  background-color: #777fbb;
}
.wpcm-wrap .single-block.type-keynote .event-title,
.wpcm-wrap .event-title.type-keynote .event-title,
.wpcm-wrap .single-block.type-keynote .event-location,
.wpcm-wrap .event-title.type-keynote .event-location {
  color: #f0f0ff;
}
.wpcm-wrap .single-block.type-keynote .time,
.wpcm-wrap .event-title.type-keynote .time {
  color: #ddd;
}
table.subblock-columns {
  margin: 0;
}
table.subblock-columns td {
  padding: 5px;
}
.schedule-block.type-keynote,
.subblock.type-keynote {
  background-color: #777fbb;
}
.schedule-block.type-keynote .block-header .title,
.subblock.type-keynote .block-header .title,
.schedule-block.type-keynote .block-header .location,
.subblock.type-keynote .block-header .location {
  color: #f0f0ff;
}
.schedule-block.type-keynote .block-header .time,
.subblock.type-keynote .block-header .time {
  color: #ddd;
}
.schedule-block.type-food,
.subblock.type-food {
  background-color: #F3E1CA;
}
.schedule-block.type-masterclass,
.subblock.type-masterclass {
  background-color: #CBE0C4;
}
.schedule-block.type-workshop_cap,
.subblock.type-workshop_cap {
  background-color: #AACCE5;
}
.schedule-block.type-workshop,
.subblock.type-workshop {
  background-color: #AACCE5;
}
.columns-2 {
  width: 50%;
}
.columns-3 {
  width: 33%;
}
.columns-4 {
  width: 25%;
}
.columns-5 {
  width: 20%;
}
.event-selection {
  color: #666;
  margin-right: 7px;
  cursor: pointer;
}
.event-selection.selected {
  color: green;
}
.event-selection.selected.waitlist {
  color: orange;
}
@media all and (max-width: 699px) {
  .wpcm-wrap ul.schedule-nav li {
    display: block;
    border: 0;
  }
  .wpcm-wrap ul.multistep {
    display: block;
  }
  .wpcm-wrap ul.multistep li {
    display: block;
    max-width: none;
    padding: 8px;
  }
  .wpcm-wrap table.form-table th,
  .wpcm-wrap table.form-table td {
    float: left;
    clear: both;
    padding: 0;
  }
  .wpcm-wrap table.form-table th {
    margin-top: 10px;
  }
  .wpcm-wrap .cluster td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    float: left;
  }
  .wpcm-wrap .cluster td.outer-title {
    display: none;
  }
  .wpcm-wrap .cluster td div.inner-title {
    display: block;
  }
  .columns-2,
  .columns-3,
  .columns-4,
  .columns-5 {
    width: 100%;
  }
}
@media print {
  #global-footer,
  #mk-footer,
  header {
    display: none;
  }
  #theme-page {
    padding: 0;
  }
  #theme-page .theme-page-wrapper.full-layout .theme-content {
    padding: 0;
  }
  .mk-go-top {
    display: none;
  }
  .mk-quick-contact-wrapper {
    display: none;
  }
  .wpcm-wrap .schedule-nav {
    display: none;
  }
  .wpcm-wrap .schedule-nav-title {
    display: none;
  }
  .wpcm-wrap table.cluster {
    page-break-inside: auto;
    display: block;
    box-sizing: border-box;
    width: 100%;
  }
  .wpcm-wrap table.cluster tbody,
  .wpcm-wrap table.cluster tr,
  .wpcm-wrap table.cluster td {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }
  .wpcm-wrap .event-body.depth-2 {
    page-break-inside: avoid;
  }
  .wpcm-wrap .event-title {
    page-break-after: avoid;
  }
  .wpcm-wrap .schedule-day {
    margin-top: 0;
    page-break-before: always;
  }
  .wpcm-wrap .time-block {
    border-radius: 0;
    box-shadow: none;
    page-break-inside: avoid;
  }
}
