.uform-heading {
    font-size: 20px;
    border-bottom: 1px dotted #c1c1c1;
    padding-bottom: 3px;
    margin-top: 20px;
}

.uform-blob {
    padding: 10px;
    background-color: #f0f0f0;
}

.uform-item {
    border: 1px solid white;
    margin: 0;
    padding: 5px 15px;
}

.uform-label {
    font-size: 14px;
    display: inline-block;
    width: 200px;
    color: #666;
}

.uform-value {
    display: inline-block;
}

.uform-description {
    color: #999;
    font-style: italic;
}

.uform-item input[type="text"], .uform-item input[type="password"] {
    border: 1px solid #c1c1c1;
    width: 400px;
    padding: 5px;
    font-size: 14px;
}

.uform-item input[type="button"] {
    border: 1px solid #c1c1c1;
}

.uform-required {
}

.uform-optional {
    float: left;
    margin-right: 10px;
}

.uform-required:after {
    content:" *";
    color: red;
}

.uform-item input.uform-currency {
    width: 100px;
}

.uform-disabled {
    background-color: gray;
}

.uform-error {
    background-color: #ffcccc;
}

.uform-field-error {
    display: none;
    color: red;
    font-size: 11px;
}



#uform_editor {
    display: none;
    position: absolute;
    background-color: white;
    border: 2px solid #c1c1c1;
    padding: 10px;
}

.uform-editable:hover {
    border: 1px dotted blue;
    background-color: #ffffcc;
    cursor: pointer;
}

.uform-editable {
    border: 1px solid white;
}

.uform-compact .uform-label {
    font-size: 13px;
    width: 72px;
    display: inline-block;
}

.uform-compact .uform-field {
    display: inline-block;
}

.stuffbox {
    border: 1px solid #dfdfdf;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    border-radius: 3px;
}

.stuffbox h3 {
    background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec);
    padding: 5px;
    margin: 0;
    font-size: 15px;
    border-bottom: 1px solid #dfdfdf;
    text-shadow: #fff 0 1px 0;
}

.stuffbox ul {
    padding: 10px;
}